/* This file is for your main application css. */
.panacea-logo {
  width: 40px;
  height: 40px;
  margin-top: -10px;
}

.hidden {
  display: none;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fades-in {
  animation: fade-in 500ms ease-in-out both;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loading-icon {
  width: 128px;
  height: 128px;
  margin: 40px;
}

.padded-bottom {
  padding-bottom: 20px;
}

.code-block {
  margin: 0;
  padding: 12px 0;
  font-size: .8em;
  line-height: 1.4;
  white-space: normal;
  font-family: menlo, consolas, Ubuntu Mono, monospace;
  overflow: auto;
  max-width: 100%;
  border: none;
}

.line {
  white-space: pre;
  display: block;
  padding: 0 16px;
}

.highlighted {
  background-color: #ffdcdc;
}

.ln {
  color: #a0b0c0;
  margin-right: 1.5em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.warning-wrapper {
  padding: 15px;
  margin: 10px;
  border: 1px solid #faebcc;
  border-radius: 4px;
  background: #fffffa;
}
