<%= form_for @conn, pml_path(@conn, :upload), [as: :form_params, multipart: true], fn f -> %>
  <%= file_input f, :file, class: "form-control" %>
  <%= submit "Submit", class: "btn btn-primary" %>
<% end %>
