<%= form_tag "/api/noop", method: :post, id: "file-form" do %>
  <input type="file" id="file-input" class="form-control">
  <input type="submit" id="file-submit" class="btn btn-success">
<% end %>
<div id="parse-result"><div>
